
.h1 {
  background: -webkit-linear-gradient(rgb(136, 108, 241) 55.41%, rgb(67, 41, 166) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgSecondMain {
  background-color: rgb(241, 241, 243);
}

.bgThreeMain {
  background-color: rgb(227, 227, 232);
  padding-top: 30px;
  padding-bottom: 30px;
}
